<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Lexend%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>Bowlekar health | About</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-[#121516] dark group/design-root overflow-x-hidden" style='font-family: Lexend, "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#2c3235] px-10 py-3">
          <div class="flex items-center gap-4 text-white">

              <div class="size-20">
              <img src="https://img.fitimg.in/studio_logo_817BBC2895AA9D.png">
            </div>

            <h2 class="text-white text-lg font-bold leading-tight tracking-[-0.015em]">Bowlekar Health Center</h2>
          </div>
          <div class="flex flex-1 justify-end gap-8">
            <div class="flex items-center gap-9">
              <a class="text-white text-sm font-medium leading-normal" href="/">Home</a>
              <a class="text-white text-sm font-medium leading-normal" href="/services/">Services</a>
              <a class="text-white text-sm font-medium leading-normal" href="/about/">About</a>

              <a class="text-white text-sm font-medium leading-normal" href="/contact/">Contact</a>
            </div>
            <a  href="/join/"><button
              class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 bg-[#b2d4e5] text-[#121516] text-sm font-bold leading-normal tracking-[0.015em]"
            >
              <span class="truncate">Join Now</span>
          </button></a>
          </div>
        </header>
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex flex-wrap justify-between gap-3 p-4">
              <div class="flex min-w-72 flex-col gap-3">
                <p class="text-white tracking-light text-[32px] font-bold leading-tight">Our Story</p>
                <p class="text-[#a2aeb3] text-sm font-normal leading-normal">
                  Bowlekar Health Gym was founded in 1972 with a vision to create a community-focused fitness center that empowers individuals to achieve their health and wellness
                  goals. Over the years, we've grown from a small local gym to a leading fitness destination, known for our expert trainers, state-of-the-art facilities, and
                  personalized approach to fitness.
                </p>
              </div>
            </div>
            <div class="flex w-full grow bg-[#121516] @container p-4">
              <div class="w-full gap-1 overflow-hidden bg-[#121516] @[480px]:gap-2 aspect-[3/2] rounded-xl grid grid-cols-[2fr_1fr_1fr]">
                <div
                  class="w-full bg-center bg-no-repeat bg-cover aspect-auto rounded-none row-span-2"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuC7Z8HaSzhU8D1c1POZ2zJ9zzMJd4zlQqWqrEeueeFUXo2lRBuNqfKmxq2CBi2rgwolyYK90VpsDKiHhSHj47xk5zBh1ZOxIqn8QILYjquZ18DlkItyKyLkgtAfB41dG-wmV8YjSkYxOOhImc_YRCELd6XVdQRzjOpnO3MoRWdmcL283Fq7CPZeWXY6W_zaRbPYoyoGtGgkPmv42miPoftWOuGurmZ1nkjTQDe7iqAyHNbm5HEIPUeWqfTVtBCxNEEtn7kzG0Izylg");'
                ></div>
                <div
                  class="w-full bg-center bg-no-repeat bg-cover aspect-auto rounded-none col-span-2 row-span-2"
                  style='background-image: url("https://lh3.googleusercontent.com/gps-cs-s/AC9h4nqlweifYJAMmfXN6fssU_KOVbC8YR95huSda8lXsr7lQdcXNfx_0G1KkCAqEe1uymEpbM94ioBOxPuaONwnjbfwfa6Q_Aj0c8K9qXG3dyF0VDq18tdXX4e30BmeoVqcudeua3MClQ=s680-w680-h510-rw");'
                ></div>
              </div>
            </div>
            <h2 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Our Mission</h2>
            <p class="text-white text-base font-normal leading-normal pb-3 pt-1 px-4">
              At Bowlekar Health Gym, our mission is to inspire and support our members on their fitness journeys. We are committed to providing a welcoming and inclusive
              environment where everyone, regardless of their fitness level, can thrive. We strive to offer innovative programs, expert guidance, and a supportive community to help
              our members achieve their personal best.
            </p>
            <h2 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Our Vision</h2>
            <p class="text-white text-base font-normal leading-normal pb-3 pt-1 px-4">
              Our vision is to be the premier fitness center in the region, recognized for our commitment to excellence, innovation, and community engagement. We aim to
              continuously evolve our offerings, embrace new technologies, and foster a culture of health and wellness that extends beyond the gym walls.
            </p>
            <h2 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Timeline</h2>
            <div class="grid grid-cols-[40px_1fr] gap-x-2 px-4">
              <div class="flex flex-col items-center gap-1 pt-3">
                <div class="text-white" data-icon="Calendar" data-size="24px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M208,32H184V24a8,8,0,0,0-16,0v8H88V24a8,8,0,0,0-16,0v8H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM72,48v8a8,8,0,0,0,16,0V48h80v8a8,8,0,0,0,16,0V48h24V80H48V48ZM208,208H48V96H208V208Zm-96-88v64a8,8,0,0,1-16,0V132.94l-4.42,2.22a8,8,0,0,1-7.16-14.32l16-8A8,8,0,0,1,112,120Zm59.16,30.45L152,176h16a8,8,0,0,1,0,16H136a8,8,0,0,1-6.4-12.8l28.78-38.37A8,8,0,1,0,145.07,132a8,8,0,1,1-13.85-8A24,24,0,0,1,176,136,23.76,23.76,0,0,1,171.16,150.45Z"
                    ></path>
                  </svg>
                </div>
                <div class="w-[1.5px] bg-[#404a4f] h-2 grow"></div>
              </div>
              <div class="flex flex-1 flex-col py-3">
                <p class="text-white text-base font-medium leading-normal">Founded Bowlekar Health Gym</p>
                <p class="text-[#a2aeb3] text-base font-normal leading-normal">1972</p>
              </div>
              <div class="flex flex-col items-center gap-1">
                <div class="w-[1.5px] bg-[#404a4f] h-2"></div>
                <div class="text-white" data-icon="Buildings" data-size="24px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M240,208H224V96a16,16,0,0,0-16-16H144V32a16,16,0,0,0-24.88-13.32L39.12,72A16,16,0,0,0,32,85.34V208H16a8,8,0,0,0,0,16H240a8,8,0,0,0,0-16ZM208,96V208H144V96ZM48,85.34,128,32V208H48ZM112,112v16a8,8,0,0,1-16,0V112a8,8,0,1,1,16,0Zm-32,0v16a8,8,0,0,1-16,0V112a8,8,0,1,1,16,0Zm0,56v16a8,8,0,0,1-16,0V168a8,8,0,0,1,16,0Zm32,0v16a8,8,0,0,1-16,0V168a8,8,0,0,1,16,0Z"
                    ></path>
                  </svg>
                </div>
                <div class="w-[1.5px] bg-[#404a4f] h-2 grow"></div>
              </div>
              <div class="flex flex-1 flex-col py-3">
                <p class="text-white text-base font-medium leading-normal">Expanded Facilities</p>
                <p class="text-[#a2aeb3] text-base font-normal leading-normal">2002</p>
              </div>
              <div class="flex flex-col items-center gap-1">
                <div class="w-[1.5px] bg-[#404a4f] h-2"></div>
                <div class="text-white" data-icon="PresentationChart" data-size="24px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M216,40H136V24a8,8,0,0,0-16,0V40H40A16,16,0,0,0,24,56V176a16,16,0,0,0,16,16H79.36L57.75,219a8,8,0,0,0,12.5,10l29.59-37h56.32l29.59,37a8,8,0,1,0,12.5-10l-21.61-27H216a16,16,0,0,0,16-16V56A16,16,0,0,0,216,40Zm0,136H40V56H216V176ZM104,120v24a8,8,0,0,1-16,0V120a8,8,0,0,1,16,0Zm32-16v40a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Zm32-16v56a8,8,0,0,1-16,0V88a8,8,0,0,1,16,0Z"
                    ></path>
                  </svg>
                </div>
                <div class="w-[1.5px] bg-[#404a4f] h-2 grow"></div>
              </div>
              <div class="flex flex-1 flex-col py-3">
                <p class="text-white text-base font-medium leading-normal">Launched New Programs</p>
                <p class="text-[#a2aeb3] text-base font-normal leading-normal">2010</p>
              </div>
              <div class="flex flex-col items-center gap-1 pb-3">
                <div class="w-[1.5px] bg-[#404a4f] h-2"></div>
                <div class="text-white" data-icon="Trophy" data-size="24px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M232,64H208V56a16,16,0,0,0-16-16H64A16,16,0,0,0,48,56v8H24A16,16,0,0,0,8,80V96a40,40,0,0,0,40,40h3.65A80.13,80.13,0,0,0,120,191.61V216H96a8,8,0,0,0,0,16h64a8,8,0,0,0,0-16H136V191.58c31.94-3.23,58.44-25.64,68.08-55.58H208a40,40,0,0,0,40-40V80A16,16,0,0,0,232,64ZM48,120A24,24,0,0,1,24,96V80H48v32q0,4,.39,8Zm144-8.9c0,35.52-28.49,64.64-63.51,64.9H128a64,64,0,0,1-64-64V56H192ZM232,96a24,24,0,0,1-24,24h-.5a81.81,81.81,0,0,0,.5-8.9V80h24Z"
                    ></path>
                  </svg>
                </div>
              </div>
              <div class="flex flex-1 flex-col py-3">
                <p class="text-white text-base font-medium leading-normal">Celebrated 40 Years</p>
                <p class="text-[#a2aeb3] text-base font-normal leading-normal">2012</p>
              </div>
            </div>
          </div>
        </div>
        <footer class="flex justify-center">
          <div class="flex max-w-[960px] flex-1 flex-col">
            <footer class="flex flex-col gap-6 px-5 py-10 text-center @container">
              <div class="flex flex-wrap items-center justify-center gap-6 @[480px]:flex-row @[480px]:justify-around">
                <a class="text-white text-sm font-medium leading-normal" href="/">Home</a>
              <a class="text-white text-sm font-medium leading-normal" href="/services/">Services</a>
              <a class="text-white text-sm font-medium leading-normal" href="/about/">About</a>

              <a class="text-white text-sm font-medium leading-normal" href="/contact/">Contact</a>
              </div>
              <p class="text-[#a2aeb3] text-base font-normal leading-normal">@2023 Bowlekar Health Gym. All rights reserved.</p>
            </footer>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
