<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Lexend%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>Bowlekar health</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-[#121516] dark group/design-root overflow-x-hidden" style='font-family: Lexend, "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#2c3235] px-10 py-3">
          <div class="flex items-center gap-4 text-white">
            <div class="size-20">
              <img src="https://img.fitimg.in/studio_logo_817BBC2895AA9D.png">
            </div>
            <h2 class="text-white text-lg font-bold leading-tight tracking-[-0.015em]">Bowlekar Health Center</h2>
          </div>
          <div class="flex flex-1 justify-end gap-8">
            <div class="flex items-center gap-9">
              <a class="text-white text-sm font-medium leading-normal" href="/">Home</a>
              <a class="text-white text-sm font-medium leading-normal" href="/services/">Services</a>
              <a class="text-white text-sm font-medium leading-normal" href="/about/">About</a>

              <a class="text-white text-sm font-medium leading-normal" href="/contact/">Contact</a>
            </div>
            <a  href="/join/"><button
              class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 bg-[#b2d4e5] text-[#121516] text-sm font-bold leading-normal tracking-[0.015em]"
            >
              <span class="truncate">Join Now</span>
          </button></a>
          </div>
        </header>
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="@container">
              <div class="@[480px]:p-4">
                <div
                  class="flex min-h-[480px] flex-col gap-6 bg-cover bg-center bg-no-repeat @[480px]:gap-8 @[480px]:rounded-xl items-center justify-center p-4"
                  style='background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) 100%), url("https://lh3.googleusercontent.com/aida-public/AB6AXuBiQZtf5LMcZjGxOHoV06-HOtsLLgx2Ztz9p2m-j-r3LjCrMmnqx9IMFpHSEUJvv39frKbCzmj3ropr3-gTRWVCzJHuQpp3t-RsV3xQCeIU7XVTW980vOUXomH2rjPhPKcRPJrakeEgs80oVutPbtCZzlEu2aOVtj24u-tX0-Vn0P4IsOq1wN6d8m2QWwt-THQhhorbHVoA2bEFhiX8kGuE2r1xZlmi7wLGTEuxwkXOX_6t3e-UOGeY3ReR4PmMvG4E4IS0MzR_glc");'
                >
                  <div class="flex flex-col gap-2 text-center">
                    <h1
                      class="text-white text-4xl font-black leading-tight tracking-[-0.033em] @[480px]:text-5xl @[480px]:font-black @[480px]:leading-tight @[480px]:tracking-[-0.033em]"
                    >
                      Transform Your Life with Bowlekar Health Gym
                    </h1>
                    <h2 class="text-white text-sm font-normal leading-normal @[480px]:text-base @[480px]:font-normal @[480px]:leading-normal">
                      Achieve your fitness goals with our expert trainers and state-of-the-art facilities. Join our community and start your journey to a healthier you.
                    </h2>
                  </div>
                  <a href="/join/"><button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 @[480px]:h-12 @[480px]:px-5 bg-[#b2d4e5] text-[#121516] text-sm font-bold leading-normal tracking-[0.015em] @[480px]:text-base @[480px]:font-bold @[480px]:leading-normal @[480px]:tracking-[0.015em]"
                  >
                    <span class="truncate">Join Now</span>
                  </button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="flex justify-center">
          <div class="flex max-w-[960px] flex-1 flex-col">
            <footer class="flex flex-col gap-6 px-5 py-10 text-center @container">
              <div class="flex flex-wrap items-center justify-center gap-6 @[480px]:flex-row @[480px]:justify-around">
               <a class="text-white text-sm font-medium leading-normal" href="/">Home</a>
              <a class="text-white text-sm font-medium leading-normal" href="/services/">Services</a>
              <a class="text-white text-sm font-medium leading-normal" href="/about/">About</a>

              <a class="text-white text-sm font-medium leading-normal" href="/contact/">Contact</a>
              </div>
              <p class="text-[#a2aeb3] text-base font-normal leading-normal">@2024 Bowlekar Health Gym. All rights reserved.</p>
            </footer>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
